In [2]:
from pathlib import Path
import numpy as np
import datetime as dt
import pandas as pd
import os
import sys
import yaml
import zipfile

sys.path.insert(0, os.path.abspath("/Users/eyalsoreq/github/DCARTE"))
import dcarte
from dcarte.utils import load_yaml
%load_ext autoreload
%autoreload 2

In [86]:
dp = dcarte.load('Physiology','base')

Finished Loading Physiology in:                0.2 seconds

In [88]:
dp[dp.patient_id=='9YauALfsfPs11tkX1Rb9jq']

Empty DataFrame
Columns: [start_date, device_type, patient_id, home_id, value, unit, source, timezone]
Index: []

In [41]:
TIHM = '/Users/eyalsoreq/dcarte/data/external/tihm_dri/'
tihmdri_zip = zipfile.ZipFile(f'{TIHM}{"tihmdri"}.zip')
tihm15_zip = zipfile.ZipFile(f'{TIHM}{"tihm15"}.zip')

In [42]:
tihm15_zip.namelist()

['Flag-category.csv',
 'Flag-type.csv',
 'Flags.csv',
 'FlagValidations.csv',
 'Observation-device.csv',
 'Observation-location.csv',
 'Observation-provider.csv',
 'Observation-type.csv',
 'Observations.csv',
 'Patients.csv',
 'QuestionnaireResponse-questionnaire.csv',
 'QuestionnaireResponses.csv',
 'README.md']

In [48]:
tihm15_df = pd.read_csv(tihm15_zip.open('Observations.csv'))
tihmdri_df = pd.read_csv(tihmdri_zip.open('Observations.csv'))

In [49]:
factors = ['subject', 'datetimeObserved','location','type']
tihm15_df = tihm15_df[factors].query('type == "272149007-2"').dropna(subset=['location'])
tihmdri_df = tihmdri_df[factors].query('type == "272149007-2"').dropna(subset=['location'])

In [79]:
device_type

,system,code,display,notes
0,http://loinc.org,8310-5,Body temperature,None
1,http://snomed.info/sct,286011002,Does turn on domestic appliance,None
2,http://snomed.info/sct,258158006,Sleep,None
3,tihm-iot,272149007-2,Movement,TIHM used this code for PIR movement data
4,http://snomed.info/sct,224751004,Door,TIHM used this code for door open/close
5,http://loinc.org,55284-4,Blood pressure systolic and diastolic,None
6,http://loinc.org,29463-7,Body weight,None
7,http://snomed.info/sct,251837008,Total body water,None
8,http://snomed.info/sct,163636005,O/E - muscle mass,TIHM incorrectly used this code for lean body ...
9,http://snomed.info/sct,248362003,Lean body mass,None
10,http://snomed.info/sct,724061007,Device status,None
11,http://snomed.info/sct,29373008,Light sleep,Duration in state light sleep
12,http://snomed.info/sct,248218005,Awake,Time spent awake
13,http://snomed.info/sct,60984000,Non-rapid eye movement sleep,duration in state deep sleep (NREM)
14,http://snomed.info/sct,89129007,Rapid eye movement sleep,Duration in state REM sleep
15,http://loinc.org,60832-3,Room temperature,None
16,http://snomed.info/sct,307155000,Before sleeping,Time to sleep
17,http://snomed.info/sct,421355008,Awakening,Time to wake up
18,http://snomed.info/sct,56242006,Light,None
19,http://snomed.info/sct,67233009,Middle insomnia,TIHM used this code to mean sleep interruption...
20,http://loinc.org,8462-4,Diastolic blood pressure,None
21,http://loinc.org,8480-6,Systolic blood pressure,None
22,https://rtmms.nist.gov,150456,MDC_PULS_OXIM_SAT_O2,Blood oxygen saturation

In [80]:
device_type = dcarte.load('device_type','legacy')
df = dcarte.load('observation','legacy')

Finished Loading device_type in:               0.0 seconds
Finished Loading observation in:              25.5 seconds

In [81]:
df.query('type == "56242006"')[columns]

,datetimeObserved,type,subject,location,valueQuantity,valueUnit
10603388,2020-08-17 11:54:07,56242006,LJYfwmZPTrr7fN4UBm7b7r,Lounge,451.0,lm/m2
10603393,2020-08-17 11:54:20,56242006,Dj4rSmNx5APzXwdWpw3Y74,Kitchen,338.0,lm/m2
10603398,2020-08-17 11:54:20,56242006,X2apBcTXhGKLUTgwfWt2QX,Bathroom,101.0,lm/m2
10603399,2020-08-17 11:54:17,56242006,Dj4rSmNx5APzXwdWpw3Y74,Hallway,184.0,lm/m2
10603400,2020-08-17 11:54:11,56242006,UPuxAksCxa1jyCpAGYv658,Lounge,1780.0,lm/m2
...,...,...,...,...,...,...
21524787,2021-06-24 05:15:56,56242006,C1k7tbew8LX41sfnQU419r,Bathroom,25.0,lm/m2
21524788,2021-06-24 05:15:51,56242006,PmU4FuJexEb8sgk81DFNnG,Hallway,15.0,lm/m2
21524789,2021-06-24 05:16:03,56242006,GtDh4R8ZfYpXaX5oxFLh7A,Kitchen,1001.0,lm/m2
21524790,2021-06-24 05:16:04,56242006,Q8LAi18wmDoHdg8Rk7838a,Dining Room,63.0,lm/m2
21524792,2021-06-24 05:16:08,56242006,Q8LAi18wmDoHdg8Rk7838a,Study,354.0,lm/m2

In [78]:
habitat = dcarte.load('habitat','base')
habitat.source.unique()

Finished Loading habitat in:                   0.7 seconds

['raw_light', 'raw_ambient_temperature']
Categories (2, object): ['raw_ambient_temperature', 'raw_light']

In [75]:

columns = ['datetimeObserved','type','subject','location','valueQuantity','valueUnit']
df = df.query('type == "60832-3"')[columns]
df.columns = ['start_date', 'device_type', 'patient_id','location_name','value', 'unit']

,datetimeObserved,type,subject,location,valueQuantity,valueUnit
1753506,2019-11-01 09:21:36,60832-3,LkApvzNfVRuTbCDMj4C8c8,Fridge Door,24.0,Cel
1753512,2019-11-01 09:21:55,60832-3,UR86FoZ8yiFyCTzFBteWcr,Bathroom,17.0,Cel
1753518,2019-11-01 09:22:09,60832-3,RGNozPUfkcawpgbpQAtNvY,Hallway,21.5,Cel
1753520,2019-11-01 09:21:53,60832-3,2pAkDkN5jfSMVNaMWtdfDp,Back Door,19.5,Cel
1753528,2019-11-01 09:22:34,60832-3,9qmPWr9ZV93mzYpPdK5p2N,Fridge Door,20.0,Cel
...,...,...,...,...,...,...
21524755,2021-06-24 05:14:56,60832-3,6ezv36bq7fwMWLmhbJAJCR,Fridge Door,21.6,Cel
21524766,2021-06-24 05:15:14,60832-3,RGNozPUfkcawpgbpQAtNvY,Bathroom,20.4,Cel
21524769,2021-06-24 05:15:28,60832-3,WgsenJNPo7wPoAehfvc6md,Dining Room,18.3,Cel
21524777,2021-06-24 05:15:33,60832-3,RGNozPUfkcawpgbpQAtNvY,Bedroom,20.5,Cel
21524781,2021-06-24 05:15:56,60832-3,C1k7tbew8LX41sfnQU419r,Bathroom,19.0,Cel

In [28]:
devices = ['8310-5','150456','55284-4','29463-7','251837008','163636005','8462-4','8480-6','8867-4']
df = df.query('type in @devices')

In [64]:
dp = dcarte.load('Physiology','legacy')
dp

Finished Loading Physiology in:                0.2 seconds

,start_date,device_type,patient_id,value,unit,source,timezone
8347,2018-11-20 13:12:59,8310-5,8RpnzMhCTZnjWf4z7UwH9z,37.058,Cel,raw_body_temperature,Europe/London
8387,2018-11-06 13:57:21,8310-5,8RpnzMhCTZnjWf4z7UwH9z,36.718,Cel,raw_body_temperature,Europe/London
8390,2018-11-20 13:18:24,8310-5,8RpnzMhCTZnjWf4z7UwH9z,36.368,Cel,raw_body_temperature,Europe/London
8393,2018-11-12 13:38:52,8310-5,8RpnzMhCTZnjWf4z7UwH9z,36.897,Cel,raw_body_temperature,Europe/London
8414,2018-11-13 11:49:45,8310-5,8RpnzMhCTZnjWf4z7UwH9z,37.313,Cel,raw_body_temperature,Europe/London
...,...,...,...,...,...,...,...
21518868,2021-06-23 21:41:45,150456,LmnvfyCvheifgtLqRtw8Fm,96.000,%,raw_oxygen_saturation,Europe/London
21518900,2021-06-23 21:43:00,8867-4,LmnvfyCvheifgtLqRtw8Fm,59.000,beats/min,raw_heart_rate,Europe/London
21518901,2021-06-23 21:43:00,8480-6,LmnvfyCvheifgtLqRtw8Fm,122.000,mm[Hg],systolic_bp,Europe/London
21518902,2021-06-23 21:43:00,8462-4,LmnvfyCvheifgtLqRtw8Fm,75.000,mm[Hg],diastolic_bp,Europe/London
21518911,2021-06-23 21:43:56,8310-5,LmnvfyCvheifgtLqRtw8Fm,36.722,Cel,raw_body_temperature,Europe/London

In [49]:
dp.source.cat.categories

Index(['diastolic_bp', 'raw_body_mass_index', 'raw_body_muscle_mass',
       'raw_body_temperature', 'raw_body_weight', 'raw_heart_rate',
       'raw_oxygen_saturation', 'raw_skin_temperature', 'raw_total_body_fat',
       'raw_total_body_water', 'raw_total_bone_mass', 'systolic_bp'],
      dtype='object')

In [50]:
dp[dp.device_type.isnull()]

,start_date,device_type,patient_id,home_id,value,unit,source,timezone
1634,2021-06-01 16:34:00,NaN,BqMbAVbdzRKf5SBZitwpug,GhFD2vRKyDNrxeYrWqZeVa,45.0,/min,raw_heart_rate,Europe/London
19460,2021-11-12 12:00:00,NaN,6xrbQMkh12eYMdP7Xi1ggc,BuJM4QLCmf58bokj7Dhowr,51.8,kg,raw_body_weight,Europe/London

In [56]:
mapping = device_type.set_index('code').display.to_dict()
mapping = mapping | {'8867-4':'raw_heart_rate'}

In [58]:
columns = ['datetimeObserved','type','subject','valueQuantity','valueUnit']
df = df[columns].assign(source=df.type.replace(mapping))

In [61]:

mapper = {'Body temperature':'raw_body_temperature',
          'Total body water':'raw_total_body_water',
          'Systolic blood pressure':'systolic_bp',
          'Diastolic blood pressure':'diastolic_bp',
          'MDC_PULS_OXIM_SAT_O2':'raw_oxygen_saturation',
          'O/E - muscle mass':'raw_body_muscle_mass',
          'Body weight':'raw_body_weight'}
df.source = df.source.replace(mapper)

array(['raw_body_temperature', 'raw_total_body_water', 'systolic_bp',
       'diastolic_bp', 'raw_heart_rate', 'raw_oxygen_saturation',
       'raw_body_muscle_mass', 'raw_body_weight'], dtype=object)

In [63]:
df.head(2)

,datetimeObserved,type,subject,valueQuantity,valueUnit,source
8347,2018-11-20 13:12:59,8310-5,8RpnzMhCTZnjWf4z7UwH9z,37.058,Cel,Body temperature
8387,2018-11-06 13:57:21,8310-5,8RpnzMhCTZnjWf4z7UwH9z,36.718,Cel,Body temperature

In [33]:
dp.head(2)

,start_date,device_type,patient_id,home_id,value,unit,source,timezone
0,2021-04-30 06:59:23,Pulse_oximeter,HdozjhTxFXBhYAnKje524Q,8boGptP7WpgZM3D1UJRKvR,65.0,/min,raw_heart_rate,Europe/London
1,2021-04-30 07:02:39,Electronic_sphygmomanometer,HdozjhTxFXBhYAnKje524Q,8boGptP7WpgZM3D1UJRKvR,71.0,/min,raw_heart_rate,Europe/London

In [19]:
devices = ['8310-5','150456','55284-4','29463-7','251837008','163636005','8462-4','8480-6','8867-4']
legacy.query('type in @devices')

,subject,datetimeObserved,datetimeReceived,device,type,location,provider,valueBoolean,valueState,valueQuantity,valueUnit,valueDatetimeStart,valueDatetimeEnd
8347,8RpnzMhCTZnjWf4z7UwH9z,2018-11-20 13:12:59,2019-01-11 18:05:03,27991004,8310-5,None,Intelesant,None,None,37.058,Cel,None,None
8387,8RpnzMhCTZnjWf4z7UwH9z,2018-11-06 13:57:21,2019-01-11 18:05:03,27991004,8310-5,None,Intelesant,None,None,36.718,Cel,None,None
8390,8RpnzMhCTZnjWf4z7UwH9z,2018-11-20 13:18:24,2019-01-11 18:05:03,27991004,8310-5,None,Intelesant,None,None,36.368,Cel,None,None
8393,8RpnzMhCTZnjWf4z7UwH9z,2018-11-12 13:38:52,2019-01-11 18:05:04,27991004,8310-5,None,Intelesant,None,None,36.897,Cel,None,None
8414,8RpnzMhCTZnjWf4z7UwH9z,2018-11-13 11:49:45,2019-01-11 18:05:04,27991004,8310-5,None,Intelesant,None,None,37.313,Cel,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21518868,LmnvfyCvheifgtLqRtw8Fm,2021-06-23 20:41:45,2021-06-23 20:41:56,448703006,150456,None,Intelesant,None,None,96.000,%,None,None
21518900,LmnvfyCvheifgtLqRtw8Fm,2021-06-23 20:43:00,2021-06-23 20:44:07,70665002,8867-4,None,Intelesant,None,None,59.000,beats/min,None,None
21518901,LmnvfyCvheifgtLqRtw8Fm,2021-06-23 20:43:00,2021-06-23 20:44:07,70665002,8480-6,None,Intelesant,None,None,122.000,mm[Hg],None,None
21518902,LmnvfyCvheifgtLqRtw8Fm,2021-06-23 20:43:00,2021-06-23 20:44:07,70665002,8462-4,None,Intelesant,None,None,75.000,mm[Hg],None,None
21518911,LmnvfyCvheifgtLqRtw8Fm,2021-06-23 20:43:56,2021-06-23 20:44:33,27991004,8310-5,None,Intelesant,None,None,36.722,Cel,None,None

In [10]:
Device_Types = dcarte.load('Device_Types','lookup')
Device_Types

Finished Loading Device_Types in:              0.0 seconds

,id,manufacturer,name,model_number,type,online_information,source
0,Vb5yn9zmNZEQvngwryTP8P,Develco,Window Sensor,Door Sensor,"[""Door sensor""]",https://www.develcoproducts.com/products/senso...,device_types
1,5oBEqJKMU7MNUSUm5gwrA3,Develco,Window Sensor,Door Sensor,"[""Door sensor""]",https://www.develcoproducts.com/products/senso...,device_types
2,7ZHbrUTNNa4nDtcHMSWUrh,Develco,Motion Sensor Mini,PIR,"[""Passive infrared sensor""]",https://www.develcoproducts.com/products/senso...,device_types
3,PsBbTpdtL8g7ikyxF8nHuu,Develco,Motion Sensor Mini,PIR,"[""Passive infrared sensor""]",https://www.develcoproducts.com/products/senso...,device_types
4,Xv8eJiKbMis1d9P1fqvenk,iHealth,Body Composition Scale - iHealth Core,Weight Sensor,"[""Scale""]",https://ihealthlabs.com/products/ihealth-core-...,device_types
...,...,...,...,...,...,...,...
159,QCoSgYfAf9TEsfCotoaqEe,Withings,Sleep,63,"[""Sleep mat""]",None,device_types
160,XfsF4BBsMH2rpm73WqMHqC,Withings,BPM Connect,45,"[""Electronic sphygmomanometer""]",https://www.withings.com/uk/en/bpm-connect,device_types
161,RSfTBi565hZnqrBjsxrfqK,Withings,Body Cardio,6,"[""Scale""]",https://www.withings.com/uk/en/body-cardio,device_types
162,PUtakqYKNa5H5BFRUPfLtx,Withings,Body Cardio,6,"[""Scale""]",https://www.withings.com/uk/en/body-cardio,device_types
163,JbKtt5wEwRH2yHKE9wXvqz,Withings,BPM Connect,45,"[""Electronic sphygmomanometer""]",https://www.withings.com/uk/en/bpm-connect,device_types

In [8]:
tihmdri_df

NameError: name 'tihmdri_df' is not defined

In [80]:

df = legacy
columns = ['subject','location','datetimeObserved','valueState','type']
df = (df[columns].
        query('type == "224751004"').
        dropna(subset=['location']).
        drop(columns='type'))
df.columns = ['patient_id', 'location_name', 'start_date','value']
groupby = ['patient_id','location_name']
datetime = 'start_date'
value = 'value'
covariates = None
df = dcarte.utils.localize_time(df,['start_date'])
doors = dcarte.utils.process_transition(df,
                                        groupby, 
                                        datetime, 
                                        value, 
                                        covariates)

In [81]:
doors

                                              start_date            end_date  \
patient_id             location_name
154dFNbk7ymdc6466EGbwT Back Door     2019-04-18 09:48:03 2019-04-18 09:48:11
                       Back Door     2019-04-18 09:48:11 2019-04-18 10:04:32
                       Back Door     2019-04-18 10:04:32 2019-04-18 10:04:37
                       Back Door     2019-04-18 10:04:37 2019-04-18 10:06:05
                       Back Door     2019-04-18 10:06:05 2019-04-18 10:06:06
...                                                  ...                 ...
yK2pxi2t19LksYCxU1sPe  Front Door    2019-10-24 10:19:20 2019-10-24 13:15:16
                       Front Door    2019-10-24 13:15:16 2019-10-24 13:15:38
                       Front Door    2019-10-24 13:15:38 2019-10-24 13:24:09
                       Front Door    2019-10-24 13:24:09 2019-10-24 13:24:19
                       Front Door    2019-10-24 13:24:19 2019-10-24 13:24:58

                                      transition      dur
patient_id             location_name
154dFNbk7ymdc6466EGbwT Back Door      Close>Open      8.0
                       Back Door      Open>Close    981.0
                       Back Door      Close>Open      5.0
                       Back Door      Open>Close     88.0
                       Back Door      Close>Open      1.0
...                                          ...      ...
yK2pxi2t19LksYCxU1sPe  Front Door     Close>Open  10556.0
                       Front Door     Open>Close     22.0
                       Front Door     Close>Open    511.0
                       Front Door     Open>Close     10.0
                       Front Door     Close>Open     39.0

[2585212 rows x 4 columns]